@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}
.solway-light {
  font-family: "Solway", serif;
  font-weight: 300;
  font-style: normal;
}

.solway-regular {
  font-family: "Solway", serif;
  font-weight: 400;
  font-style: normal;
}

.solway-medium {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
}

.solway-bold {
  font-family: "Solway", serif;
  font-weight: 700;
  font-style: normal;
}

.solway-extrabold {
  font-family: "Solway", serif;
  font-weight: 800;
  font-style: normal;
}

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hanken-grotesk-bold {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.hanken-grotesk-regular {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.background-color {
  background-color: #f5f5ef;
}
.review-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
